<header>
  <div class="container">
    <div class="header-left mt-1">
      <h1><%= link_to 'list_app', root_path, :style=>"color:white;"%></h1>
    </div>
    <div class="header-right mt-3">
      <div class="row">
        <% if logged_in? %>
          <p><%= link_to 'ログイン', login_path %></p>
        <% else %>
          <p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
          <p><%= link_to 'マイページ', current_user %></p>
        <% end %>
        <p><%= link_to 'ユーザー一覧', users_url %></p>
        <p><%= link_to 'みんなの投稿', lists_url %></p>
      </div>
    </div>
  </div>
</header>