<div class="text-center">
  <div class="top-wrapper">
    <h1>アイテムをリストに登録する</h1>
  </div>
    <%= form_with model: @item, local: true do |f| %>
      <%= render 'shared/error_messages'%>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      
      <p>
        <%= f.label :content %>
        <%= f.text_field :content %>
      </p>
  
      <p>
        <%= f.label :list_id %>
        <%= f.text_field :list_id, value: @item.list_id %>
      </p>

      <p>
        <%= f.submit "登録してリスト一覧に遷移", class: "btn btn-primary" %>
      </p>
    <% end %>
</div>

