<div class="text-center">
  <div class="top-wrapper">

    <h1>Login Page</h1>
  </div>
    <%= form_with scope: :session, url: login_path, local: true do |f| %>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </p>
      
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.submit "Login", class: "btn btn-primary" %>
      </p>

    <% end %>
</div>

